body{
    background-color: rgb(174, 182, 201);
    margin: 0% auto;
    width: 1100px;
}
h1 {
    color: rgb(38, 38, 153);
}
h2{
    color: rgb(1, 8, 63);
}
a{
    color: darkred;
}
p.big_text {
    font-size: 1.5rem;
}
